body {
    width: 1250px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, Sans-Serif;
    font-size: 12px;
    
    color: #C9C9C9;
    
    background-color: #000000;
}

.radiantcolor, .direcolor {
    text-align: center;
    font-weight: 800 !important;
    text-shadow: 1px 1px 5px #000000;
    
}

.radiantcolor {
    color: #92A525;
}

.direcolor {
    color: #C23C2A;
}

a {
    text-decoration: none;
}

a:link {
    color: #C9C9C9;
}

a:visited {
    color: #C9C9C9;
}

a:hover {
    color: #FFFFFF;
}

a:active {
    color: #D8D8D8;
}

table {
    width: 1000px;
    margin: auto;
    
    vertical-align: middle;
    
    border: 1px solid #181818;
    border-spacing: 2px;
    border-collapse: collapse;
    
    background-color: #272727;
}

table .center {
    text-align: center;
}

th.header {
    height: 20px;
    font-size: 12px;
    color: #FFFFFF;
}

.th340px {
    width: 340px;
}

.th200 {
    width: 200px;
}

.th180 {
    width: 180px;
}

.th50 {
    width: 50px;
}

.th40 {
    width: 40px;
}

.th30 {
    width: 30px;
}

.th20 {
    width: 20px;
}

td {
    border: none;
}

.image, .name {
    display: table-cell;
}

.name {
    font-weight: bold;
    vertical-align: middle;
    padding-left: 7px;
}

.img24 {
    height: 24px;
}

.img32 {
    height: 32px;
}

.items {
    padding: 0 2px 0 2px;
}

.even {
    background-color: #505050;
}

.odd {
    background-color: #2F2F2F;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    width: 100px;
    height: 29px;
    margin-right: 15px;
    padding-top: 11px;
    
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
}

li a:hover {
    background-color: #505050;
}

#body_box {
    background-color: #313131;
}

#navigation_box {
    width: 1230px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    
    background-color: #191919;
}

.advertisement_box {
    width: 728px;
    height: 90px;
    margin: auto;
    margin-bottom: 10px;
}

#content_box {
    width: 1250px;
    margin: auto;
    min-height: 900px;
    padding-bottom: 40px;
}

#main_content_box {
    display: inline-block;
    width: 1020px;
    height: inherit;
    margin: 0 0 0 10px;
    padding: 0;
    min-height: 900px;
    vertical-align: top;
}

#side_box {
    display: inline-block;
    width: 200px;
    max-width: 200px;
    margin: 0 0 0 5px;
    padding: 0;
    min-height: 900px;
    vertical-align: top;
}

#clicksor {
    margin-left: 20px;
    margin-bottom: 10px;
}

#social_plugins {
    height: 100px;
    width: 728px;
    margin: auto;
    margin-bottom: 10px;
    padding-left: 90px;
}

#facebook_like_box {
    display: inline-block;
    float: left;
    width: 450px;
    height: 80px;
    padding: 0;
    margin: 0;
    margin-right: 30px;
}

#facebook_like {
    width: 450px;
    height: 80px;
    padding: 10px;
    margin: 0;
    
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    background-color: #f4f4f4;
}

#twitter_box {
    display: inline-block;
    float: left;
    width: 140px;
    height: 80px;
    padding: 0;
    margin: 0;
}

#twitter {
    width: 140px;
    height: 80px;
    padding: 10px;
    margin: 0;
    
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    background-color: #f4f4f4;
}

#actual_content {
    width: 1000px;
    padding: 10px;
    margin-bottom: 10px;
}

#footer_box {
    height: 160px;
    
    padding: 10px;
    
    font-size: 10px;
    color: #C9C9C9;
    
    text-align: right;
    
    background-color: #191919;
}

#footer_content a {
    color: #FFFFFF !important;
}